# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\rishi\Desktop\IIIT BLOCKCHAIN COURSE\Courses_Material\Course_5(Rest-API)\Assignment\Trello_Quora\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
